<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_plain" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss z} | thread=%thread | loglevel=%highlight(%level) | logger=%logger{36}.%M:%L | %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <lineSeparator>UNIX</lineSeparator>
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>ISO8601</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <logLevel/>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <mdc/>
                <message/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>50</shortenedClassNameLength>
                        <exclude>^sun\.reflect\..*\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>

        </encoder>
    </appender>

    <root level="info">
        <springProfile name="local">
            <appender-ref ref="stdout_plain"/>
        </springProfile>
        <springProfile name="!local">
            <appender-ref ref="stdout_json"/>
        </springProfile>
    </root>

</configuration>